
 <div class="step">Step 11 of {{n}}</div>

<div class="form-header">
<h2>You'll need to take at least one College Prep {{ subject }} before you graduate.</h2></div>

 <div class="form-instructions">
<h4>Select a College Prep {{ subject }} course or that you have already met the requirement:</h4></div>
<fieldset class="form-container js-form-item form-item js-form-wrapper form-group col-auto" data-drupal-selector="edit-prefs" id="edit-prefs">
      <legend>
    <span class="fieldset-legend id="select-one"">Select one:</span>
  </legend>
  <div class="fieldset-wrapper">
<table style="width:100%">
<tr>
    <th></th>
    <th>Course title</th>
    <th>Description</th>
    <th>A-G Requirement</th>
  </tr>
  
  {% if ( (grade+1) > 9) %} 
   <tr>
    <td>
    <div class="js-form-item js-form-type-radio radio form-check js-form-item-cpe form-item-cpe">
                <input data-drupal-selector="edit-cpe" type="radio" id="edit-cpe" name="cpe" value="0" class="form-radio form-check-input"> 
</div></td>
    <td><b>College Prep elective requirement already met</b></td>
    <td>N/A  </td>
    <td> N/A </td></tr>
    
    {% endif %}

{% for result in results %}
   {% if result.field_a_g[0] is not null %}
   
    <tr>
    <td>
    <div class="js-form-item js-form-type-radio radio form-check js-form-item-cpe form-item-cpe">
                <input data-drupal-selector="edit-cpe" type="radio" id="edit-cpe" name="cpe" value="{{result.field_course_number[0].value}}" class="form-radio form-check-input"> 
</div></td>
    <td>{{ result.title[0].value}} ({{result.field_course_number[0].value}})</td>
    <td>{{ result.body[0].value|striptags}}  </td>
    <td>

       
    {{ result.field_a_g[0].entity.label }} </td>


  </tr>


  {% endif %}
{% endfor %}
</table>


