
  <tr>
23
    <td>
24
    <div class="js-form-item js-form-type-radio radio form-check js-form-item-health form-item-health">
25
                <input data-drupal-selector="edit-health" type="radio" id="edit-health" name="health" value="0" class="form-radio form-check-input"> 
26
</div></td>
27
    <td>Health requirement already met</td>
28
    <td>N/A  </td>
29
    <td> N/A </td></tr>
 <div class="step">Step 10 of {{n}}</div>

<div class="form-header">
<h2>You'll need to take {{ subject }} before you graduate.</h2></div>

 <div class="form-instructions">
<h4>Select a {{ subject }} course or one of the other options:</h4></div>
<fieldset class="form-container js-form-item form-item js-form-wrapper form-group col-auto" data-drupal-selector="edit-prefs" id="edit-prefs">
      <legend>
    <span class="fieldset-legend id="select-one"">Select one:</span>
  </legend>
  <div class="fieldset-wrapper">
<table style="width:100%">
<tr>
    <th></th>
    <th>Course title</th>
    <th>Description</th>
    <th>A-G Requirement</th>
  </tr>

  <tr>
    <td>
    <div class="js-form-item js-form-type-radio radio form-check js-form-item-health form-item-health">
                <input data-drupal-selector="edit-health" type="radio" id="edit-health" name="health" value="0" class="form-radio form-check-input"> 
</div></td>
    <td>Health requirement already met</td>
    <td>N/A  </td>
    <td> N/A </td></tr>

{% for result in results %}
   {% if (isELD  and "Fundamentals" not in result.field_other_attributes[0].entity.label ) or (isFund and "Fundamentals" in result.field_other_attributes[0].entity.label ) or (isAP and "Fundamentals" not in result.field_other_attributes[0].entity.label  and "Bilingual" not in result.field_other_attributes[0].entity.label)  %}
    <tr>
    <td>
    <div class="js-form-item js-form-type-radio radio form-check js-form-item-health form-item-health">
                <input data-drupal-selector="edit-health" type="radio" id="edit-health" name="health" value="{{result.field_course_number[0].value}}" class="form-radio form-check-input"> 
</div></td>
    <td>{{ result.title[0].value}} ({{result.field_course_number[0].value}})</td>
    <td>{{ result.body[0].value|striptags}}  </td>
    <td>
    {% if result.field_a_g[0] is not null %}
       
    {{ result.field_a_g[0].entity.label }} </td>
    {% else %}
    Does not fulfill A-G requirements
    {% endif %}
  </tr>


  {% elseif  ( not isAP and  not isELD and not isFund and "Fundamentals" not in result.field_other_attributes[0].entity.label  and "Bilingual" not in result.field_other_attributes[0].entity.label  and  "Advanced Placement" not in result.field_other_attributes[0].entity.label ) %}
  <tr>
    <td>
    <div class="js-form-item js-form-type-radio radio form-check js-form-item-health form-item-health">
                <input data-drupal-selector="edit-health" type="radio" id="edit-health" name="health" value="{{result.field_course_number[0].value}}" class="form-radio form-check-input"> 
</div></td>
    <td>{{ result.title[0].value}} ({{result.field_course_number[0].value}})</td>
    <td>{{ result.body[0].value|striptags}}  </td>
    <td>
    {% if result.field_a_g[0] is not null %}
    {{ result.field_a_g[0].entity.label }}

    {% else %}
    Does not fulfill A-G requirements
    {% endif %}
  </tr>
  {% endif %}
{% endfor %}
</table>


