
 <div class="step">Step 3 of 8</div>

<div class="form-header">
<h2>Great! Let's take a look at {{ subject }} courses first. . .</h2></div>

 <div class="form-instructions">
<h4>Select a course to fulfill your <span class="name">{{ grade + 1 }}th grade</span> {{ subject }} requirement:</h4></div>

<table style="width:100%">
<tr>
    <th></th>
    <th>Course title</th>
    <th>Description</th>
    <th>A-G Requirement</th>
  </tr>

{% for result in results %}
   {% if (isELD  and "ELD" in result.title[0].value) or (isFund and "Fundamentals" in result.title[0].value) or (isAP and "Fundamentals" not in result.title[0].value and "ELD" not in result.title[0].value )  %}
    <tr>
    <td><div class="form-check">
  <input class="form-check-input" type="radio" name="englishClass" value="{{result.field_course_number[0].value}}">
</div></td>
    <td>{{ result.title[0].value}} ({{result.field_course_number[0].value}})</td>
    <td>{{ result.body[0].value|striptags}}  </td>
    <td>
    {% if result.field_a_g[0] is not null %}
    {{dump(result.field_a_g[0].entity())}}</td>
    {% else %}
    Does not fulfill A-G requirements
    {% endif %}
  </tr>
  {% elseif  ( not isAP and "Fundamentals" not in result.title[0].value and "ELD" not in result.title[0].value and  "AP" not in result.title[0].value) %}
  <tr>
    <td><div class="form-check">
  <input class="form-check-input" type="radio" name="englishClass" value="{{result.field_course_number[0].value}}">
</div></td>
    <td>{{ result.title[0].value}} ({{result.field_course_number[0].value}})</td>
    <td>{{ result.body[0].value|striptags}}  </td>
    <td>
    {% if result.field_a_g[0] is not null %}
    B
   <!-- {{dump(result.field_a_g[0].entity())}}</td> -->
    {% else %}
    Does not fulfill A-G requirements
    {% endif %}
  </tr>
  {% endif %}
{% endfor %}
</table>


